@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
    min-height:100vh;
}

#time{
    display: flex;
    gap:40px;
    color:#fff;
}

#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time .ap{
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}